.Container {
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.Container h1 {
  font-size: 2rem;
}
.VideoPlayer {
  display: flex;
  justify-content: center;

  align-items: center;
  border: 1px solid black;
}
